<mat-toolbar color="primary">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <a routerLink="/" class="header-title"><span>Exam Portal</span></a>

    <span class="example-spacer"></span>

    <a 
    [routerLink]="'/login'"
    mat-icon-button class="example-icon favorite-icon margin-right-20" aria-label="Example icon-button with heart icon">
      LogIn
    </a>

    <a
    [routerLink]="'/signup'"
    mat-icon-button class="example-icon margin-right-20" aria-label="Example icon-button with share icon">
      SignUp
    </a>

  </mat-toolbar>
