<div class="bootstrap-wrapper">

    <div class="container-fluid">

        <h1 class="margin-top-20">Active Quizzes</h1>

        <div class="row margin-top-20" *ngIf="quizzes">

            <div class="col-md-4" *ngFor="let q of quizzes">

                <mat-card class="margin-bottom-20">

                    <mat-card-header>

                        <div mat-card-avatar class="example-header-image"></div>

                        <mat-card-title>{{q.title}}</mat-card-title>

                        <mat-card-subtitle>{{q.category.title}}</mat-card-subtitle>

                    </mat-card-header>

                    <mat-card-content>
                        <p class="truncate">{{q.description}}</p>

                        <h4><b>Number of questions :</b> {{q.numberOfQuestions}}</h4>
                        <h4><b>Maximum marks :</b> {{q.maxMarks}}</h4>
                    </mat-card-content>

                    <mat-card-actions>

                        <button mat-flat-button style="background-color: #e2e2e2;">View</button>
                        <button [routerLink]="'/user/quiz/instructions/'+q.qId" class="margin-left-20" mat-flat-button color="primary">Start</button>

                    </mat-card-actions>

                </mat-card>

            </div>

            <div class="col-md-12" *ngIf="quizzes == 0">

                <mat-card>

                    <mat-card-content>
                        
                        <h2>No active quiz found in this category</h2>

                    </mat-card-content>

                </mat-card>

            </div>

        </div>

    </div>

</div>