<div class="margin-top-20 margin-bottom-20">
    <button class="width-100" [routerLink]="'/admin/add-category'" mat-raised-button color="primary">AddCategory</button>
</div>

<div class="bootstrap-wrapper">

    <div class="row">

        <div class="col-md-12">

            <h1>All Categories</h1>

            <mat-card class="margin-top-10" *ngFor="let c of categories">

                <mat-card-header>

                    <mat-card-title>{{c.title}}</mat-card-title>
                    <mat-card-subtitle>{{c.description}}</mat-card-subtitle>

                </mat-card-header>

                <mat-card-actions>

                    <div class="container text-center">
                        <button [routerLink]="'/admin/update-category/'+c.cid" mat-flat-button color="primary">Edit</button>
                        <button class="margin-left-20" (click)="deleteCategory(c.cid)" mat-flat-button color="warn">Delete</button>
                    </div>

                </mat-card-actions>

            </mat-card>

        </div>

    </div>

</div>